<div class="page-header">
	<h1> Returned </h1>
</div>
<div class="row">
	<div class="span6 offset3 well">
		<b>In project: </b> <%= @project.project_name %><br>
		<b>Group: </b><%= @part.part_name %>
	</div>
</div>